@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../dist/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

.btn {
  @apply px-10 py-4 bg-primary text-white uppercase hover:bg-black
}

.nav-link-item {
  @apply hover:text-red-500
}

.list {
  background-color: #00011a;
}

.list-title {
  color: #deaa65;
}